body {
    font-family: helvetica;
    margin: 0 auto;
    min-width: 230px;
    max-width: 650px;
}

.todoApp {
    padding-top: 10%;
    font-family: helvetica;
    position: relative;
}

.items {
    font-size: 1.3em;
}

.filter {
    text-align: center;
}

.filter button {
    display: inline-block;
}

.footer { }

.footer td {
    padding-top: 1em;
}

button {
    font-family: helvetica;
    background-color: white;
    color: black;

    border: 2px solid;
    border-radius: 2px;
    transition-duration: 0.2s;
}

#clearBtn {
    float: right;
}

.button {
    border-color: #008CBA;
    padding: 5px 20px;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.delBtn {
    opacity: 0;
    transition: linear 0s;

    border-color: #f44336;
    padding: 2px 7px;
    float: right;

    background-color:  #f44336;
    color: white;
    font-weight: bold;
}

.delBtn:hover { }

.strikethrough {
    text-decoration: line-through;
    color: grey;
}

.items tr:hover button {
    /*display: inline;*/
    /*visibility: visible;*/
    opacity: 1;
}

.items tr {
    border: solid black 1px;
}

.items td {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 5%;
    /*border: solid black 1px;*/
}

.items td > label {
    padding-bottom: 5%;
    padding-top: 5%;
}

.items table { }

/* ANIMATIONS */
.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}

.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
    transition: all .5s ease;
}

.ng-leave-active {
    opacity: 0;
}
/* --------- */

tr:hover { /*background-color: lightgrey;*/ }

table {
    table-layout: fixed;
    width: 90%;
}

input[type=checkbox]{
    /*display: none;*/
}

.items input[type=checkbox]{
    margin-right: 5%;
}

input[type=text] {
    width: 90%;
    font-size: 1.5em;
}

input[type=text]::-webkit-input-placeholder {
    color: lightgrey;
    font-style: italic;
}

input[type=text]::-moz-placeholder {
    color: lightgrey;
    font-style: italic;
}
